body {
    background-color: #24302A;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 10px 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 70px;
}

.login-box{
    color: #000;
    background-color: #fff;
    border-radius: 15px;
    width: 1200px;
    height: 700px;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr) 0 repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    box-shadow: 0 4px 50px rgba(0, 0, 0, 0.2);
}

.login-txt {
    width: auto;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    grid-area: 1 / 1 / 2 / 6;
    margin-left: -100px;
}

/* --------------------------------------------
/ Diseño de la sección izquierda
/ ------------------------------------------ */
.seccion-izq{
    grid-area: 2 / 1 / 3 / 3;
    width: 350px;
    text-align: center;
    padding: 0px 40px;
}

/* Estilos del titulo */
.login-txt2{
    font-size: 35px;
    font-weight: 200;
    margin-bottom: 70px;
}

/* Estilo del Subtitulo */
.login-txt3{
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 60px;
}

label {
    margin-bottom: 9px;
    font-weight: bold;
}

input {
    border-radius: 10px;
    padding: 10px 10px;
    height: 10px;
    font-size: 12px;
    width: 250px;
    border: 1px solid #24302A;
}

.input-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
    /* Ajusta el espacio inferior entre campos */
}

.btn {
    padding: 10px 10px;
    color: #fff;
    border-radius: 15px;
    width: 150px;
    height: 40px;
    font-family: 'Quicksand';
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 30px;
    background-color: #527C1D;
    font-weight: 500;
}



.separator {
    margin-left: -200px;
    width: 2px; /* Ancho del separador */
    height: 100%; /* Ajusta para que ocupe toda la altura del contenedor */
    background-color: #000000; /* Color del separador */
    margin: 0 20px; /* Espacio a los lados del separador */
}

.return-menu {
 font-weight: 500;
 font-size: 15px;
}

/* --------------------------------------------
/ Diseño de la sección derecha
/ ------------------------------------------ */
.seccion-der{
    grid-area: 2 / 4 / 3 / 6;
    width: 900px;
}

.img-login {
    width: 670px;
    height: auto;
    padding: 30px 60px;
}


