.barra-superior {
    font-family: 'Quicksand';
    width: 100%;
    background-color: #030504;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    height: 40px;
    position: sticky;
    padding: 10px 20px;
    z-index: 10;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: 5px;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.7) !important;
    /* Sombra negra con mayor opacidad */
    padding-right: 35px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.btn-verLibros,
.btn-verPrestamos,
.btn-admin,
.btn-libros,
.btn-users,
.btn-menu,
.btn-perfil,
.btn-logout,
.btn-generos {
    margin-right: 20px;
    border-radius: 5px;
    padding: 6px 10px;
}

a.btn-verLibros,
a.btn-verPrestamos,
a.btn-admin,
a.btn-libros,
a.btn-users,
a.btn-menu,
a.btn-perfil,
a.btn-logout,
a.btn-generos {
    text-decoration: none;
    color: inherit; 
    position: relative;
    display: inline-block;
    overflow: hidden;
}


a.btn-verLibros::before,
a.btn-verPrestamos::before,
a.btn-admin::before,
a.btn-libros::before,
a.btn-users::before,
a.btn-menu::before,
a.btn-perfil::before,
a.btn-logout::before,
a.btn-generos::before {
content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: all .5s ease;
    bottom: 0;
    left: 0;
}

a.btn-verLibros:hover::before,
a.btn-verPrestamos:hover::before,
a.btn-admin:hover::before,
a.btn-libros:hover::before,
a.btn-users:hover::before,
a.btn-menu:hover::before,
a.btn-perfil:hover::before,
a.btn-logout:hover::before,
a.btn-generos:hover::before{
transform: scaleX(1);
}      