body{
    background-color: #24302A;
    font-family: 'Quicksand';
    color: #fff;
}

.imagen-cabecera{
    width: 1000px;
    height: auto;
    margin: 0;
    left: 0%;
}

a body{
    text-decoration: none;
}

a body::after {
    text-decoration: none;
}