body{
    background-color: #7a7979;
    font-family: 'Quicksand';
    color: #fff;
}

/* ----------------------------------------
/   Efecto de Desvanecimiento
/ ---------------------------------------- */
/* Efecto de entrada */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

/* ----------------------------------------
/   Sección de la navbar
/ ---------------------------------------- */

/* Estilos de la Barra Superior */
.barra-superior {
    font-family: 'Quicksand';
    width: 96.2%;
    background-color: #030504;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    height: 40px;
    position: sticky;
    padding: 10px 20px;
    z-index: 10;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: 5px;
    box-shadow: 0 5px 30px 0 rgba(0, 50, 0, 0.7);
    padding-right: 35px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

/* Botones en la Barra Superior */
.btn-prestamo,
.btn-generos,
.btn-about,
.btn-libros,
.btn-admin,
.btn-logout,
.btn-perfil,
.btn-menu {
    margin-right: 20px;
    border-radius: 5px;
    padding: 6px 10px;
}

/* Enlaces dentro de los Botones en la Barra Superior */
a.btn-prestamo,
a.btn-generos,
a.btn-about,
a.btn-libros,
a.btn-admin,
a.btn-logout,
a.btn-perfil,
a.btn-menu {
    text-decoration: none;
    color: inherit;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

/* Efecto Hover para los Enlaces en la Barra Superior */
a.btn-prestamo::before,
a.btn-generos::before,
a.btn-about::before,
a.btn-libros::before,
a.btn-admin::before,
a.btn-logout::before,
a.btn-perfil::before,
a.btn-menu::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: all 0.5s ease;
    bottom: 0;
    left: 0;
}

a.btn-prestamo:hover::before,
a.btn-generos:hover::before,
a.btn-about:hover::before,
a.btn-libros:hover::before,
a.btn-admin:hover::before,
a.btn-logout:hover::before,
a.btn-perfil:hover::before,
a.btn-menu:hover::before {
    transform: scaleX(1);
    /* Expande la línea de subrayado en hover */
}
/* -------------------------------------
/ Contnedor General
/ ------------------------------------- */

/* Diseños de la imagen de Cabecera */
.imagen-cabecera{
    width: 100%;
    height: auto;
    margin: 0;
    left: 0;
}

.img-cabecera {
    width: 101%;
    margin-left: -6px;
    margin-top: -6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
}

.seccion-principal {
    margin: 50px 40px;
    background-color: #24302A;;
    border-radius: 15px;
    padding: 20px 90px;
}

.titulo1{
    margin-top: 200px;
    font-size: 50px;
    font-weight: 300;
    width: 100%;
    text-align: center;
}

.txt1{
    margin-top: 50px;
    font-size: 22px;
    font-weight: 300;
    width: 100%;
    text-align: center;
}

/* ----------------------------------------------
/ Sección del carrete de generos
/ -------------------------------------------- */
a.link-generos {
    text-decoration: none;
    color: inherit;
    /* Esto hereda el color del elemento contenedor */
}

.span-rojo{
    color: red;
}

.roll-generos {
    width: 100%;
    margin-top: 500px;
}

.titulo-secciones {
    font-size: 45px;
    font-weight: 300;
    text-align: center;
}

.txt-secciones {
    margin-top: 50px;
    font-size: 23px;
    font-weight: 300;
    width: 100%;
    text-align: center;
}

.gallery{
    display: flex;          /* Hace que los hijos se alineen horizontalmente */
    flex-wrap: nowrap;      /* Evita que los elementos se envuelvan a una nueva línea */
    gap: 20px;              /* Añade espacio entre cada sección */
    overflow-x: auto; 
    padding: 10px 20px;  
    z-index: -1;
}

.sec-genero-libro {
    margin-top: 30px;
    border-radius: 15px;
    width: 400px;
    height: 400px;
}

.img-genero{
    border-radius: 15px;
    width: 300px;
    height: 300px;
}

/* ----------------------------------------
/ Estilo 3D de las Cards
/ ---------------------------------------- */

        .container-cards {
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
            -webkit-perspective: 1000px;
            perspective: 1000px;
        }

        .frente,
        .detras {
            background-size: cover;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            background-position: center;
            -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
            transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
            -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
            transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
            transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            text-align: center;
            min-height: 280px;
            box-shadow: 0 0 10px solid blue;

            height: 300px;
            width: 300px;
            border-radius: 15px;
            color: #fff;
            font-size: 1.5rem;
        }

        .detras {
            background: #24302A;
            background: -webkit-linear-gradient(45deg, #040404 0%, #24302A 100%);
            background: -o-linear-gradient(45deg, #040404 0%, #24302A 100%);
            background: linear-gradient(45deg, #040404 0%, #24302A 100%);
        }

        .frente::after {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 300px;
            height: 300px;
            content: '';
            display: block;
            opacity: .6;
            background-color: #000;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            border-radius: 10px;
        }

        .container-cards:hover .frente,
        .container-cards:hover .detras {
            -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
            transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
            -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
            transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
            transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
        }

        .detras {
            font-size: 20px;
            position: absolute;
            top: 0;
            left: 0;
            height: 300px;
            width: 300px;
            background-color: #000;
        }

        .inner {
            -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
            transform: translateY(-50%) translateZ(60px) scale(0.94);
            top: 50%;
            position: absolute;
            left: 0;
            width: 100%;
            padding: 2rem;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            outline: 1px solid transparent;
            -webkit-perspective: inherit;
            perspective: inherit;
            z-index: 2;
        }

        .container-cards .detras {
            -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
        }

        .container-cards .frente {
            -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
        }

        .container-cards:hover .detras {
            -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
        }

        .container-cards:hover .frente {
            -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
        }

        .frente .inner p {
            font-size: 2rem;
            margin-bottom: 2rem;
            position: relative;
        }

        .frente .inner p::after {
            content: '';
            width: 4rem;
            height: 2px;
            position: absolute;
            background: #C6D4DF;
            display: block;
            left: 0;
            right: 0;
            margin: 0 auto;
            bottom: -.75rem;
        }


/* -----------------------------------------------
/   Libros top
/ ---------------------------------------------- */

.roll-librostop {
    margin-top: 500px;
}

.seccion-libro {
    position: relative; /* Asegura que .card se posicione en relación a .seccion-libro */
    height: 100%;
    margin-right: 20px;
    z-index: 1; /* z-index bajo en .seccion-libro */
}

.foto-portada {
    margin-right: 5px;
    width: 140px;
    height: 200px;
}

.card {
    position: absolute; /* Posiciona .card encima de .seccion-libro */
    padding: 0; 
    top: 0;
    left: 0;
    width: 100%; /* Coincide con el ancho de .seccion-libro */
    height: 100%; /* Coincide con la altura de .seccion-libro */
    overflow: hidden;
    filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.25));
    z-index: 2; /* Asegura que .card esté encima de .seccion-libro */
}

.card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 140px;
    height: 200px;
    background: linear-gradient(180deg,
                rgba(0, 0, 0, 0.6) 0%,
                /* Aumenta la opacidad al inicio del gradiente */
                rgba(0, 0, 0, 0.7) 50%,
                /* Más oscuro en el medio */
                rgba(0, 0, 0, 0.9) 100%
                /* Muy oscuro al final del gradiente */
            );    background-blend-mode: darken, normal;
}

.card>.content {
    color: white;
    position: absolute;
    top: 200px;
    z-index: 10;
    transition: top 450ms ease-out;
    padding: 5px 5px;
}

.card>.content>h1 {
    font-size: 12px;
}

.card>.content>p {
    margin-bottom: 10px;
    font-size: 10px;
}

.card:hover>.content {
    top: 10px;
}

.btn {
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    font-size: 12px;
}

.btn-card {
    background: #D0EEB0;
    transition: background 200ms ease;
}

.btn-card:hover {
    background: #bfed8e;
}

/* --------------------------------------
/   Sección del texto de importancia
/ ------------------------------------- */
.info {
    margin-top: 500px;
}

.tittle-info {
    font-weight: 400;
}

#txt-info2{
    font-size: 40px;
    margin-top: 500px;
    margin-bottom: 500px;
}

.li-1 {
    width: 450px;
    margin-bottom: 500px;
}

.li-2 {
    width: 480px;
    margin-bottom: 500px;
    margin-left: 500px;
}
