<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ventana Admub</title>
    <link rel="stylesheet" href="">
</head>
<body>
<nav class="barra-superior">
    <div class="botones-navbar">
        <a href="verLibros.php">Ver Libros</a>
        <a href="verPrestamos.php">Ver Prestamos</a>
        <a href="../../templates/menu.php">Menú Principal</a>
        <a href="ventanaAdmin.php">Menu de Admin</a>
        <a href="verUsuarios.php">Ver Usuarios</a>
    </div>

    <div class="logout">
        <div class="logout">
            <a href="../public/user/perfil.php">Mi Perfil</a>
            <a href="logout.php">Cerrar Sesión</a>
        </div>
    </div>
</nav>
</body>
</html>