<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Biblio | Biblioteca Virtual</title>
    <link rel="stylesheet" href="static/biblio.css">

    <!-- Quicksand -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap"
        rel="stylesheet">

</head>    
<body>
    <div class="container">
        <div class="texto-1">
            <h1 class="txt-bienvenida fade">¡Bienvenido a nuestra Biblioteca!</h1>
            <h3 class="txt-saludo fade">Inicia Sesión o Registrate para acceder a nuestros servicios :D</h3>
        
            <div class="botones-bienvenida">
                <a href="../public/user/login.php" class="btn-login">Iniciar Sesión</a>
                <a href="../public/user/register.php" class="btn-register">Registrarse</a>
            </div>
        </div>
        </div>
    </div>
</body>

<script>
    // ------------------------------------------------------------------------
    // Efecto de desvanecer las letras al interactuar en la ventana
    // ------------------------------------------------------------------------
    // Seleccionamos los enlaces
    const links = document.querySelectorAll('a');

    // Agregamos el evento de click a cada enlace
    links.forEach(link => {
        link.addEventListener('click', function (event) {
            event.preventDefault(); // Detenemos la navegación
            const elements = document.querySelectorAll('.fade');
            elements.forEach(el => {
                el.classList.add('fade-out'); // Aplicamos la clase fade-out
            });

            // Esperamos que el efecto termine antes de redirigir
            setTimeout(() => {
                window.location.href = link.href; // Redirigimos a la página destino
            }, 1000); // El tiempo aquí debe coincidir con la duración del fade-out en CSS (1 segundo)
        });
    });
</script>

</html>