body {
    background-color: #fff;
    font-family: 'Quicksand';
    color: #fff;
}

.container {
    margin: 50px 40px;
    background-color: #24302A;
    border-radius: 15px;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    /* Cambia la dirección a columna */

    height: 100vh;
    /* Asegura que ocupe toda la altura de la pantalla */
}

h1 {
    font-weight: 400;
    font-size: 50px;
    width: auto;
    text-align: center;
}